* {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

p {
    font-family: Verdana;
    color: gray;
    font-size: 21px;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

.video {
    text-align: center;
}

#footer {
    text-align: right;
    color: gray;
}